@*@model UserModel*@
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="display-4" style="color: #344767; font: 56px Roboto Slab">to zorzezorz online shop.</p>
   
</div>
<div class="text-align">
    <p style="color: #344767">What can we help you with???</p>
        
    <textarea id="textArea1" rows="3" style="align-items" placeholder="Ask a question..."></textarea><br />
    <button type="submit" id="questionBtn1" class="badge badge-sm bg-gradient-success">Send</button><br />
    <br /> 
    <a href="https://mail.google.com/mail/u/0/" class="nav-link text-muted" target="_blank">
        djordje.vukosavljevic01@gmail.com
    </a>
</div>


<script type="text/javascript">
    document.getElementById("questionBtn1").onclick = function () {
        console.log("Message sent to zorzezorz.");
    }

 
</script>   

